* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'poppins';
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(img/boor.webp);
    background-position: center;
    background-size: cover;
    font-size: large;
    color: #fff;
  }