{% extends 'base.html' %}
    
    {% block content %}
   
    <article class="media content-section" style="margin-top: 100px;">
        <img src="{{ object.author.profile }}" class="rounded-circle article-img" alt="">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d,Y"}}</small>
                {% if object.author == user %}
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            </div>
    </article>
    
    {% endblock %}